[submodule "flexdll"]
	path = flexdll
	url = https://github.com/ocaml/flexdll.git
	shallow = true
	branch = master
[submodule "winpthreads"]
	path = winpthreads
	url = https://github.com/ocaml/winpthreads.git
	shallow = true
	branch = master
[submodule "mmtk-core"]
	path = mmtk-core
	url = https://github.com/mmtk/mmtk-core
